    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @keyframes fadeInBackground {
        from {
            background-color: #d7e7f1; /* Color de fondo inicial */
        }
        to {
            background-color: #005293; /* Color de fondo azul */
        }
    }

    @layer utilities {
    .dropdown-menu {
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 70; /* Ajusta según sea necesario */
    }

    .carousel {
        position: relative;
        z-index: 40; /* Ajusta según sea necesario */
    }
    }

    /* Tu CSS existente */
    :root {
        --font-family: 'Roboto', sans-serif;
        --line-height: 1.5;
        --font-weight: 400;
        --color-scheme: light dark;
        --color: rgba(255, 255, 255, 0.87);
        --background-color: #d7e7f1;
        --font-synthesis: none;
        --text-rendering: optimizeLegibility;
        --webkit-font-smoothing: antialiased;
        --moz-osx-font-smoothing: grayscale;
        --color-panama-red: #ce1126;
        --color-panama-blue: #005293;
        --color-panama-white: #ffffff;
    }

    a {
        color: var(--color-panama-blue);
        text-decoration: none;
        transition: color 0.3s;
    }

    a:hover {
        color: #003366; /* Color más oscuro al pasar el mouse */
    }

    body, html {
        height: 100%;
        margin: 0;
        font-family: var(--font-family);
        line-height: var(--line-height);
        font-weight: var(--font-weight);
        color-scheme: var(--color-scheme);
        color: var(--color);
        background-color: var(--background-color);
        font-synthesis: var(--font-synthesis);
        text-rendering: var(--text-rendering);
    }

    h1 {
        font-size: 3.2em;
        line-height: 1.1;
    }

    button {
        background-color: var(--color-panama-white);
        color: var(--color-panama-white);
        border: 1px solid var(--color-panama-white);
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }

    button:hover {
        background-color: #a4101c; /* Color más oscuro al pasar el mouse */
        border-color: #a4101c;
    }

    button:focus,
    button:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }

    @media (max-width: 768px) {
        body, html {
            display: block;
        }
    }

    @media (prefers-color-scheme: light) {
        :root {
            color: #213547;
            background-color: #ffffff;
        }

        a:hover {
            color: #747bff;
        }

        button {
            background-color: #f9f9f9;
        }
    }

    /* Estilos para el contenedor de login */
    .login-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        animation: fadeInBackground 2s forwards; /* Aplica la animación */
    }
    
    .login-container {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        padding: 40px;
        width: 400px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    
    .login-container::before, .login-container::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        filter: blur(50px);
    }
    
    .login-container::before {
        top: -50px;
        left: -50px;
    }
    
    .login-container::after {
        bottom: -50px;
        right: -50px;
    }
    
    .abstract-shape {
        position: absolute;
        width: 100px;
        height: 100px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        filter: blur(50px);
    }
    
    .shape1 { top: 10%; left: 20%; }
    .shape2 { top: 30%; right: 20%; }
    .shape3 { bottom: 20%; left: 30%; }
    .shape4 { bottom: 10%; right: 10%; }
    .shape5 { top: 50%; left: 50%; }
    
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    label, input, button {
        margin-bottom: 10px;
    }
    
    button {
        padding: 10px;
        background-color: #2563eb;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #1e3a8a;
    }